:root {
	--background: black;
	--foreground: white;
	--inactive-foreground: gray;

	--stage-background: rgba(0, 0, 0, 0.4);
	--stage-foreground: white;

	--button-background: #00395f;
	--button-background-hover: #004675;
	--button-foreground: white;
	--button-shadow: #222222;

	--prompt-foreground: white;
	--prompt-background: #200000;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
}

a {
	color: var(--foreground);
	text-decoration: none;
}