.prompt {
	position: fixed;

	top: 50%;
	transform: translateY(-50%);

	width: 100%;

	color: var(--prompt-foreground);
	background-color: var(--prompt-background);

	display: flex;
	align-items: center;
	flex-direction: column;
}

.prompt form :not(:last-child) {
	margin-right: 1em;
}

.prompt .input {
	border: none;

	margin-bottom: 1em;

	height: 3rem;
	border-radius: 5px;
	padding: 0 1em;

	transition: 0.3s border;
}

.prompt .input.invalid {
	border: 2px solid red !important;
}