@keyframes bg-anim {
	0% {
		background-position-x: 0%;
	}

	100% {
		background-position-x: 30%;
	}
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	color: var(--foreground);
	background-color: var(--background);
	background-image: url('/img/wave.svg');
	background-size: max(40%, 500px);
	background-repeat: repeat no-repeat;
	animation: bg-anim infinite alternate ease-in-out 15s;
}