.button {
	border: 3px solid;
	padding: 0.5em;
	border-radius: 5px;

	transition: 400ms ease-out background;

	color: var(--foreground);
	background: var(--background);

	&:disabled {
		background-color: #55555577;
		color: #888888;
	}

	&.primary {
		border-color: #1870ac;

		&:hover {
			background-color: #1870ac;
		}
	}


	&.secondary {
		border-color: #18a2ac;

		&:hover {
			background-color: #18a2ac;
		}
	}


	&.tetriary {
		border-color: #294050;

		&:hover {
			background-color: #294050;
		}
	}
}