@import "./sidebutton.scss";
@import "./button.module.scss";

.page {
	position: relative;
	height: 100%;
}

.editor {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	gap: 1rem;
}

.textarea {
	$padding: 0.5rem;
	$border: 1px;

	display: inline-block;
	background: none;
	color: var(--foreground);

	border: $border dashed white;
	border-radius: 5px;

	padding: $padding;
	margin: 0;

	$width: calc(100% - 2*($padding + $border));
	$height: calc(100% - 2*($padding + $border));

	width: $width;
	height: $height;

	resize: none;
}


.stagelist {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: baseline;

	width: 100%;
	height: 100%;

	overflow-y: auto;
	overflow-x: hidden;
}

.stageradio {
	>input {
		display: none;
	}

	>label {
		display: block;

		font-family: monospace;
		margin-left: 1rem;
		color: var(--inactive-foreground);
	}

	>input:checked~label {
		&::before {
			font-family: monospace;
			content: '>';
			margin-right: 0.5rem;
		}

		margin-left: 0;
		font-weight: bold;

		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		color: var(--foreground);
	}
}

.validatedinputcontainer {
	>input {
		display: block;
		font-family: monospace;
		background: none;
		color: var(--foreground);
		padding: 0.5rem;

		border: none;
		border-bottom: 2px solid var(--foreground);
	}

	&.invalid {
		>input {
			color: #770000;
			border-color: #770000;
		}
	}
}

.stageactions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;

	gap: 1rem;
	width: 100%;

	.rename {
		@extend .validatedinputcontainer;

		display: flex;
		align-items: stretch;
		justify-content: center;

		>p {
			margin: 0;
			padding: 0;
			align-self: center;
			font-family: monospace;
			user-select: none;
		}
	}
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	margin-bottom: 1rem;

	.stage_preview {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		gap: 1rem;

		width: 100%;
		height: 100%;

		.panels {
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;

			gap: 1rem;
		}

		.sidepanel {
			width: 20%;
			height: 80%;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: stretch;
		}

		.eventpanel {
			width: 100%;
			height: 100%;
		}

		&:not(.edit) {
			.stageeditbutton {
				flex: 1;
				width: 100%;
				height: 100%;
			}

			.eventpanel {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				align-items: center;
			}
		}

		&.edit {
			.sidepanel {
				gap: 1rem;
			}

			.stageeditbutton {
				&.invalid {
					background: #66000077;
					border-radius: 5px;
				}

				flex: 1;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: stretch;
				flex-wrap: nowrap;

				>textarea {
					flex: 1;
				}

				.actionedit {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: stretch;
					flex-wrap: nowrap;

					width: 100%;

					>select {
						width: 100%;
						background: none;
						color: var(--foreground);
						border: none;
						margin-top: 0.5rem;
						margin-bottom: 0.5rem;

						>option {
							color: initial;
						}
					}

					>textarea {
						flex: 1;
						max-width: 100%;
					}
				}
			}
		}
	}

}



.stages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 80%;
	min-width: 8rem;
	width: 8rem;

	border: 3px solid white;
	padding: 1rem;

	resize: horizontal;
	overflow-x: hidden;

	.newstage {
		@extend .validatedinputcontainer;
		display: flex;

		width: 100%;

		>input {
			flex: 1;
			min-width: 5rem;
		}
	}
}

.bottompanel {
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.preview {
	>input {
		display: none;
	}

	>label {
		@extend .button;

		border: 3px solid var(--foreground);
		color: var(--foreground);
		background: var(--background);

		transition: 0.2s background linear;

		&:hover {
			background-color: #888888;
		}
	}

	>input:checked~label {
		background-color: var(--foreground);
		color: var(--background);

		&:hover {
			background-color: #888888;
		}
	}
}


@media (min-width: 769px) {
	.buttons {
		position: absolute;
		bottom: 3em;
		width: 100%;
	}
}

@media (max-width: 768px) {

	.buttons {
		margin-top: 1rem;
	}
}

@media (max-width: 480px) {}