@import "./sidebutton.scss";

.stage_preview {
	width: 100%;
}

.stages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 80%;
	min-width: 5rem;
	width: 5rem;

	border: 3px solid white;
	padding: 1rem;

	resize: horizontal;
	overflow-y: auto;
}


.panels {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.sidepanel {
	width: 20%;
	height: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stage {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.header,
.footer {
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main {
	width: 100%;
	height: 70%;
}

.panels {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.sidepanel {
	width: 20%;
	height: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.event_panel {
	background-color: var(--stage-background);
	color: var(--stage-foreground);

	border-radius: 5px;

	text-align: center;
	overflow-y: auto;
	padding: 5px;

	width: 40%;
	height: 100%;
}

@keyframes progressreminder {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

.progressreminder {
	display: block;
	user-select: none;
	animation: progressreminder 5s ease-in forwards;
}

.footer {
	gap: 0.25rem;
}

.footerbutton {
	box-sizing: border-box !important;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 2.5rem;
	height: 2.5rem;

	&.checkpoint {
		border-color: #005a0f;
		background-image: url("/img/golfflag.png");
		background-size: 1.5rem;
		background-position: 0.25rem 0;

		&:hover {
			background-color: #005a0f;
		}
	}

	&.recyclebin {
		border-color: #571201;
		background-image: url("/img/recyclebin.svg");
		background-size: 2.125rem;
	}

	&:hover {
		background-color: #571201;
	}

	&.save {
		border-color: #005a0f;
		background-image: url("/img/save.svg");
		background-size: 2.125rem;

		&:hover {
			background-color: #005a0f;
		}
	}

	&.restart {
		border-color: #571201;
		background-image: url("/img/reload.svg");
		background-size: 2.125rem;

		&:hover {
			background-color: #571201;
		}
	}

	&.home {
		border-color: white;
		background-image: url("/img/home.svg");
		background-size: 2.125em;

		&:hover {
			background-color: #999999;
			cursor: default;
		}
	}
}


@media (min-width: 481px) and (max-width: 768px) {
	.sidepanel {
		width: 30%;
	}
}

@media (max-width: 480px) {
	.panels {
		flex-direction: column;
	}

	.sidepanel {
		width: 80%;
		height: fit-content;
		overflow-y: auto;
	}

	.sidepanel * {
		max-height: 10em;
	}

	.event_panel {
		width: 90%;
		margin-bottom: 0.5em;
	}

	.footer {
		align-items: center;
	}

	.footer :is(button, a) {
		height: 100%;
		padding: 0;
		box-sizing: border-box;
	}
}